### Week 2 Assignment: Running Your First Program

The purpose of the week 2 assignmnent is to write a program that outputs the frequency tables of three variables in the chosen dataset, in this case, Gapminder dataset and provide explanation describing the frequency of values in each of the variables, how often the values occur, presence of missing data etc.

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#load dataset
file_path = 'gapminder.csv'
gapminder_df = pd.read_csv(file_path, low_memory=False)

In [5]:
#print out the number of rows (observations) in the dataset
print(len(gapminder_df))

213

In [6]:
#print out number of columns in the dataset
print(len(gapminder_df.columns))

16

In [11]:
#replace empty cells with nan
gapminder_df = gapminder_df.replace([""," "], np.nan, regex=True)

In [16]:
#convert object variables to numeric 
gapminder_df['polityscore'] = pd.to_numeric(gapminder_df['polityscore'])
gapminder_df['urbanrate'] = pd.to_numeric(gapminder_df['urbanrate'])
gapminder_df['hivrate'] = pd.to_numeric(gapminder_df['hivrate'])
gapminder_df['incomeperperson'] = pd.to_numeric(gapminder_df['incomeperperson'])
gapminder_df['alcconsumption'] = pd.to_numeric(gapminder_df['alcconsumption'])
gapminder_df['armedforcesrate'] = pd.to_numeric(gapminder_df['armedforcesrate'])
gapminder_df['breastcancerper100th'] = pd.to_numeric(gapminder_df['breastcancerper100th'])
gapminder_df['co2emissions'] = pd.to_numeric(gapminder_df['co2emissions'])
gapminder_df['femaleemployrate'] = pd.to_numeric(gapminder_df['femaleemployrate'])
gapminder_df['internetuserate'] = pd.to_numeric(gapminder_df['internetuserate'])
gapminder_df['lifeexpectancy'] = pd.to_numeric(gapminder_df['lifeexpectancy'])
gapminder_df['oilperperson'] = pd.to_numeric(gapminder_df['oilperperson'])
gapminder_df['employrate'] = pd.to_numeric(gapminder_df['employrate'])
gapminder_df['suicideper100th'] = pd.to_numeric(gapminder_df['suicideper100th'])
gapminder_df['relectricperperson'] = pd.to_numeric(gapminder_df['relectricperperson'])

#### Create Frequency tables for the chosen variables using value_counts()

In [81]:
#create frequency tables for three variables in the dataset
#frequency distribution of oilperperson variable
f1 = gapminder_df['oilperperson'].value_counts(bins=5, sort=False, dropna=False)
p1 = gapminder_df['oilperperson'].value_counts(bins=5, sort=False, normalize=True, dropna=False)
#frequency distribution of co2emissions variable 
f2 = gapminder_df['co2emissions'].value_counts(bins=5, sort=False, dropna=False)
p2 = gapminder_df['co2emissions'].value_counts(bins=5, sort=False, normalize=True, dropna=False)
#frequency distribution of relectricperperson variable
f3 = gapminder_df['relectricperperson'].value_counts(bins=5, sort=False, dropna=False)
p3 = gapminder_df['relectricperperson'].value_counts(bins=5, sort=False, normalize=True, dropna=False)

In [82]:
#output the frequency of the values in oilperperson
f1.to_frame()

                 oilperperson
(0.0191, 2.472]            55
(2.472, 4.911]              6
(4.911, 7.35]               1
(7.35, 9.789]               0
(9.789, 12.229]             1

In [83]:
#output the percentage of values in the oilperperson variable
p1.to_frame()

                 oilperperson
(0.0191, 2.472]      0.258216
(2.472, 4.911]       0.028169
(4.911, 7.35]        0.004695
(7.35, 9.789]        0.000000
(9.789, 12.229]      0.004695

In [84]:
#output the frequency of the values of co2emissions variable
f2.to_frame()

                                  co2emissions
(-333867868.001, 66800105600.0]            197
(66800105600.0, 133600079200.0]              2
(133600079200.0, 200400052800.0]             0
(200400052800.0, 267200026400.0]             0
(267200026400.0, 334000000000.0]             1

In [85]:
#output the percentage of the values of co2emissions variable
p2.to_frame()

                                  co2emissions
(-333867868.001, 66800105600.0]       0.924883
(66800105600.0, 133600079200.0]       0.009390
(133600079200.0, 200400052800.0]      0.000000
(200400052800.0, 267200026400.0]      0.000000
(267200026400.0, 334000000000.0]      0.004695

In [86]:
#output the frequency of the values of the relectricperperson variable
f3.to_frame()

                                 relectricperperson
(-11.155999999999999, 2230.951]                 117
(2230.951, 4461.902]                             12
(4461.902, 6692.853]                              3
(6692.853, 8923.804]                              3
(8923.804, 11154.755]                             1

In [87]:
#output the percentage of the values of the relectricperperson variable
p3.to_frame()

                                 relectricperperson
(-11.155999999999999, 2230.951]            0.549296
(2230.951, 4461.902]                       0.056338
(4461.902, 6692.853]                       0.014085
(6692.853, 8923.804]                       0.014085
(8923.804, 11154.755]                      0.004695

#### Subset the data to include only the observations for developed economies only

In [44]:
#subsetting the dataset to include only the data of developed economies using average gdp per capita of 9500 
sub1 = gapminder_df[gapminder_df['incomeperperson'] >= 9500]
sub2 = sub1.copy()

In [47]:
#sub2.head(10)

In [75]:
len(sub2)

47

In [77]:
#calculating frequency tables for 'co2emissions' from a subset of the gapminder data
ct2 = sub2['co2emissions'].value_counts(bins=5, sort=False).to_frame()
ct2

                                  co2emissions
(-317758775.001, 66812980000.0]             39
(66812980000.0, 133609735000.0]              1
(133609735000.0, 200406490000.0]             0
(200406490000.0, 267203245000.0]             0
(267203245000.0, 334000000000.0]             1

In [76]:
pt2 = sub2['co2emissions'].value_counts(sort=False, normalize=True, bins=5).to_frame()
pt2

                                  co2emissions
(-317758775.001, 66812980000.0]       0.829787
(66812980000.0, 133609735000.0]       0.021277
(133609735000.0, 200406490000.0]      0.000000
(200406490000.0, 267203245000.0]      0.000000
(267203245000.0, 334000000000.0]      0.021277